body {
    background-image: url("/src/img/bg.png");
    background-repeat: repeat;
    background-size: 125%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 24pt;
}
h3 {
    font-size: 18pt;
}
h4 {
    font-size: 18pt;
}
p {
    font-size: 14pt;
    text-wrap: wrap;
}
a{
    color: skyblue;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
strong {
    color: #ffedab;
    font-weight: 600;
}
b {
    font-weight: 600;
}

.box.hdr {
    width: 300px;
    display: block;
    margin: auto;
}

.box {
    background-color: rgba(96, 26, 69, 0.6);
    backdrop-filter: saturate(180%) blur(8px);
    border-radius: 20px;
    border: none;
    padding: 10px;
    scroll-margin-top: 50px;
    margin: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img:not(.og) {
    border-radius: 20px;
    max-height: 700px;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    padding: 10px;
}

.box p{
    margin: 15px;
    text-align: justify;
}

.box .og {
    max-width: 100%;
}

pre {
    margin: 15px;
    background-color: rgba(96, 26, 69, 0.3);
    border-radius: 20px;
    padding: 15px;
    text-wrap: wrap;
}