:root{
    --boxcolor: rgba(16, 8, 40, 0.15);
    --hovercolor: rgba(100, 70, 100, 0.4);
    --blur: saturate(180%) blur(8px);
    --border: 1px solid rgb(100, 70, 100);
}

@font-face {
  font-family: 'notepen';
  src: url('/src/fonts/Notepen.ttf');
}

body {
    background-color: #050110;
    background-image: url("/src/img/stars.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    image-rendering: -webkit-optimize-contrast;
}

h1 {
    font-size: 32pt;
    font-family: 'notepen';
}
h2 {
    font-size: 28pt;
    font-family: 'notepen';
}
h3 {
    font-size: 22pt;
}
h4 {
    font-size: 18pt;
}
p {
    font-size: 14pt;
}
a{
    color: skyblue;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
strong {
    color: #ffedab;
    font-weight: 600;
}
b {
    font-weight: 600;
}

@media screen and ((max-width: 1200px) or (max-height: 800px)) {
    #sidebar {
        width: 100% !important;
        position: static !important;
        margin: 0px 0px 40px 0px !important;
        transform: none !important;
    }
    #svglinks {
        flex-wrap: wrap !important;
    }
    #home {
        width: auto !important;
        margin-left: 0 !important;
        transform: none !important;
    }
    #marquee {
        width: 70% !important
    }
    #lastfm {
        width: 80% !important;
        flex-direction: column !important;
    }
    #meow {
        margin-top: 40px;
    }
    #song {
        animation: marquee-content 8s linear infinite !important;
    }
    .box.img img {
        width: 100%;
    }
    .box.img {
        width: 80% !important;
    }
    .box.aside {
        width: 80% !important;
    }
    footer {
        margin-left: 0 !important;
        width: auto !important;
    }
    body {
        background-size: 150%;
        background-repeat: repeat;
    }
    .box.button.title {
        width: 80% !important;
    }
    .box p {
        text-align: left !important;
    }
    #name p{
        text-align: center !important;
    }
    .button {
        max-width: 90% !important;
    }

}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#name h1, h4, p {
    margin: 5px;
}

#name h1 {
    font-size: 38pt;
}

#name {
    border-radius: 40px 40px 10px 10px;
}
#about {
    border-radius: 10px 10px 40px 40px;
}
#about p {
    text-align: left;
}

#name img {
    width: 50%;
    border-radius: 100%;
    border: var(--border);
    background-color: var(--hovercolor);
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 14pt;
    position: sticky;
    flex-wrap: wrap;
}
.nav a {
    background-color: var(--boxcolor);
    border-radius: 10px;
    padding: 10px;
    color: #ffedab;
    margin: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
    border: var(--border);
}
.nav a:hover{
    background-color: var(--hovercolor);
    transform: scale(1.05);
}
a:active{
    color: white;
}
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 30%;
    background-color: var(--boxcolor);
    backdrop-filter: var(--blur);
    height: 100%;
    margin: -10px 0 0 -10px;
    border: var(--border);
    transition: transform 1s ease;
}
#sidebar.closed {
  transform: translateX(-100%);
  transition: transform 1s ease;
}

#sidebar .box {
    background-color: var(--boxcolor);
    backdrop-filter: none;
}

#sideelems {
    max-width: 500px;
}

#name p {
    text-align: center;
    margin: 5px;
}

.stamp {
    height: 56px;
    width: 99px;
}

#home {
    scroll-margin-top: 10px;
    margin-left: 30%;
    transition: margin 1s ease;
}
#home.closed {
    margin-left: 0;
    transition: margin 1s ease;
}

#research .box.desc {
    border-radius: 10px 10px 40px 10px;
}

#svglinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'notepen';
}
#svglinks svg {
    fill: white;
    margin: 7px;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}
#svglinks svg:hover {
    fill: rgb(100, 70, 100);
    transform: scale(1.1);

}
#cv {
    color: skyblue !important;
}

.date {
    font-size: 12pt;
    color: pink;
}
#updates {
    margin-bottom: 40px;
}

 #news time {
    color: #ffedab;
 }

#music {
    margin-top: -100px;
    opacity: 0;
    transition: margin-top 0.5s ease-out, opacity 0.3s ease-out;
    margin-bottom: 40px;
}

#music.show {
    margin-top: 0;
    opacity: 1;
}

#lastfm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    border-radius: 40px;
    margin-bottom: 40px;
}

#marquee {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--hovercolor);
    border: var(--border);

}

#song {
    font-family: monospace;
    display: inline-block;
}

#marquee:hover #song {
    animation-play-state: paused;
}

@keyframes marquee-content {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#meow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#meow a {
    font-family: 'notepen';
    font-size: 18pt;
}

#meow a:hover {
    text-decoration: underline;
}

#lastfm img {
    width: 75px;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog * {
    padding-left: 10px; 
}
.blog p {
    color: white;
}
time {
    font-size: 18pt;
    font-family: 'notepen';
    color: skyblue;
}
.blog h4 {
    padding-top: 10px;
}

.box {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--boxcolor);;
    backdrop-filter: var(--blur);
    border-radius: 40px 10px 10px 10px;
    border: none;
    text-align: center;
    padding: 10px;
    scroll-margin-top: 50px;
    max-width: 800px;
    border: var(--border);
}
.box img {
    border-radius: 10px;
    width: 500px;
    margin-bottom: -3px;
}
.box.img {
    border-radius: 20px;
    width: 500px;
}
.box p{
    margin: 15px;
    text-align: justify;
}
.box.button{
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}
.box.button:hover {
    background-color: var(--hovercolor);
    transform: scale(1.05);

}

.button {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.button:hover{
    transform: scale(1.05);
}

.linkbtn{
    width: 300px;
}

.hdr {
    width: 300px;
    display: block;
    margin: auto;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.box.button.title {
    text-align: left;
    width: 450px;
}
.box.title h4 {
    margin: 0;
    color: #ffedab;
}
.box.button.blog {
    width: 300px;
}
.box.button.title.blog {
    width: 450px;
}
.box.heading {
    width: 60%;
    max-width: 500px;
    border-radius: 40px 10px 40px 10px;
    background-color: var(--boxcolor);;
    align-self: flex-start;
    color: #ffedab;
}
.box.desc {
    border-radius: 40px 10px 40px 10px;
}
.box.desc img {
    width: 100px;
    margin: 15px 15px 0px 15px;
    float: left;
}
.box.aside {
    border-radius: 5px 20px 20px 20px;
    width: 450px;
    padding: 10px;
}
.box.aside p {
    font-size: 12pt;
    text-align: justify;
}

footer {
    width: 750px;
    margin: 0 auto;
    background-color: var(--boxcolor);
    backdrop-filter: var(--blur);
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: var(--border);
}
footer a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 12pt;
}
footer img {
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar {
    width: 0px;
  }
