body {
    background-image: url("/src/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
}
h1 {
    font-size: 32pt;
}
h2 {
    font-size: 24pt;
}
h3 {
    font-size: 22pt;
}
h4 {
    font-size: 18pt;
}
p {
    font-size: 14pt;
}
a{
    color: skyblue;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
strong {
    color: #ffedab;
    font-weight: 600;
}
b {
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    #sidebar {
        width: auto !important;
        position: static !important;
        margin: -10px -20px 20px -10px !important;
    }
    #home {
        width: auto !important;
        margin-left: 0 !important;
    }
    .box.img img {
        width: 100%;
    }
    .box.img {
        width: 80% !important;
    }
    .box.aside {
        width: 80% !important;
    }
    #name img {
        width: 100% !important;
    }
    footer {
        margin-left: 0 !important;
        width: auto !important;
    }
    body {
        background-repeat: repeat !important;
    }

}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
#name h1, h4 {
    margin: 10px;
}

#name h1 {
    font-size: 38pt;
}

#name {
    border-radius: 40px 40px 10px 10px;
}
#about {
    border-radius: 10px 10px 40px 40px;
}

#name img {
    width: 100%;
    border-radius: 30px 30px 10px 10px;
}

#nav {
    display: flex;
    justify-content: center;
    font-size: 14pt;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    flex-wrap: wrap;
}
#nav a {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
    color: pink;
    margin: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}
#nav a:hover{
    background-color: rgba(96, 26, 69, 0.4);
    transform: scale(1.05);
}
a:active{
    color: white;
}
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 30%;
    background-color: rgba(96, 26, 69, 0.6);
    backdrop-filter: saturate(180%) blur(8px);
    height: 100%;
    margin: -10px 0 0 -10px;
}

#sidecontainer {
    width: 450px;
}

#sidebar .box {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: none;
}
.stamp {
    height: 56px;
    width: 99px;
}

#home {
    scroll-margin-top: 10px;
    margin-left: 30%;
}
#research .box.desc {
    border-radius: 10px 10px 40px 10px;
}

#svglinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
#svglinks svg {
    fill: white;
    width: 35px;
    margin: 10px;
    transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}
#svglinks svg:hover {
    fill: rgba(96, 26, 69, 0.4);
    transform: scale(1.1);

}
#cv {
    color: skyblue;
    width: 100px;
    font-size: 20pt;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    margin: 10px;
}
#cv:hover{
    background-color: rgba(96, 26, 69, 0.4);
}
.date {
    font-size: 12pt;
    color: pink;
}
#updates {
    margin-bottom: 40px;
}
.content {
    margin-top: 40px;
    margin-bottom: 40px;
}
.box {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(96, 26, 69, 0.6);
    backdrop-filter: saturate(180%) blur(8px);
    border-radius: 40px 10px 10px 10px;
    border: none;
    text-align: center;
    padding: 10px;
    scroll-margin-top: 50px;
    max-width: 800px;
}
.box img {
    border-radius: 10px;
    width: 500px;
    margin-bottom: -3px;
}
.box.img {
    border-radius: 20px;
    width: 500px;
}
.box p{
    margin: 15px;
    text-align: justify;
}
.box.button{
    font-size: 14pt;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
}
.box.button:hover {
    background-color: rgba(96, 26, 69, 0.4);
    transform: scale(1.05);

}

.button {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.button:hover{
    transform: scale(1.05);
}

.linkbtn{
    width: 300px;
}

.hdr {
    width: 300px;
    display: block;
    margin: auto;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.box.button.paper {
    text-align: left;
    width: 450px;
}
.box.paper h4 {
    margin: 0;
    color: #ffedab;
}
.box.heading {
    width: 60%;
    max-width: 500px;
    border-radius: 40px 10px 40px 10px;
    background-color: rgba(96, 26, 69, 0.4);
    align-self: flex-start;
    color: #ffedab;
}
.box.desc {
    border-radius: 40px 10px 40px 10px;
}
.box.desc img {
    width: 100px;
    margin: 15px 15px 0px 15px;
    float: left;
}
.box.aside {
    border-radius: 5px 20px 20px 20px;
    width: 400px;
    padding: 10px;
}
.box.aside p {
    font-size: 12pt;
    text-align: justify;
}

footer {
    background-color: rgba(96, 26, 69, 0.6);
    backdrop-filter: saturate(180%) blur(8px);
    padding: 10px 15px;
    margin-left: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 12pt;
    font-family: 'Rubik', sans-serif;
}
footer img {
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar {
    width: 0px;
  }
